@use "sass:color";

.comment {
  &--value {
    position: relative;
    &__no {
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: -1.5rem;
      top: 53%;
      background-color: var(--red);
    }
    &__yes {
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: -1.5rem;
      top: 53%;
      background-color: var(--green);
    }
    &__globalno {
      width: 50%;
      height: 1rem;
      background-color: var(--red);
    }
    &__globalyes {
      width: 50%;
      height: 1rem;
      background-color: var(--green);
    }
    &__icon {
      position: absolute;
      top: 70%;
      right: 0;
    }
  }
  &--wrapper {
    &__unit {
      position: relative;
    }
  }
  &--infos {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 2fr 1fr 8fr 2fr 2fr;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid black;
  }
  &--navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &--icon {
    width: 100%;
    max-width: 2rem;
    min-width: 1.5rem;
    &__trash {
      position: absolute;
      bottom: 1rem;
      right: -2rem;
    }
  }

  &--container {
    display: flex;
    flex-direction: column;
    position: relative;
    &__global {
      width: 100%;
      max-width: 1000px;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: 2fr 2fr 8fr 2fr 2fr;
      gap: 1rem;
      border-bottom: 1px solid black;
      position: relative;
    }
  }
}
