.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  &--icon {
    width: 100%;
    max-width: 2rem;
    min-width: 1.5rem;
  }
}

.gallery--content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.gallery--content__item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery--content__item:hover {
  transform: translateY(-10px);
}

.gallery--item__picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery--item__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery--content__item:hover .gallery--item__info {
  opacity: 1;
  transform: translateY(0);
}

.gallery--item__icons {
  background-color: $highlightColor;
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery--content__item:hover .gallery--item__icons {
  opacity: 1;
  transform: translateY(0);
}

.gallery--icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.form--gallery__filter {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-width: 200px;
}

.gallery--notFound {
  font-size: 1.5rem;
  color: gray;
}
