@use "sass:color";

.product {
  &--background {
    width: 100%;
    border-radius: 0.5rem;
  }
  &--value {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    overflow: hidden;
    width: 90%;
  }
  &--infos {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 4fr 2fr 4fr;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &--navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &--icon {
    width: 100%;
    max-width: 2rem;
    min-width: 1.5rem;
    &__trash {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    &__update {
      position: absolute;
      bottom: 1rem;
      right: 0.8rem;
    }
  }
  &--content {
    width: 100%;
    &__value {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      overflow: hidden;
      width: 90%;
    }
  }
  &--wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    ul {
      width: 100%;
    }
    &__separator {
      width: 80%;
      height: 1px;
      background-color: var(--black);
    }
    &__close {
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
      width: 100%;
      min-width: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    &__unit {
      width: 100%;
      max-width: 80%;
      gap: 1rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:not(:last-child) {
        border-bottom: 1px solid var(--black);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
      img.product--icon {
        justify-self: center;
        align-self: center;
      }
    }
  }
}
