.user {
  &--edit{
    &--link {
      width: fit-content;
      margin: 0 auto;
    }
  }
  &--iconsWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center
  }
  &--navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &--icon {
    width: 100%;
    max-width: 2rem;
    min-width: 1.5rem;
  }
  &--wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    ul {
      width: 100%;
    }
    &__close {
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    &__unit {
      width: 100%;
      max-width: 95%;
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      &:not(:last-child) {
        border-bottom: 1px solid black;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
      img.user--icon {
        justify-self: center;
        align-self: center;
      }
    }
  }
}
