.input {
  border-radius: 1rem;
  height: 2.5rem;
  min-height: max-content;
  width: 100%;
  max-width: 40rem;
  padding: 0.25rem 1rem;
  border: 3px solid transparent;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: 0.1s ease-in-out;

  &--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &:focus {
    outline-width: 0;
    border: 3px solid black;
  }

  &::placeholder{
    color: darkgrey;
  }

  &--acceptTos {
    width: 1rem;
    height: 1rem;
  }

  &--submit {
    width: 15rem;
    height: 3rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1rem;
    transition: 0.25s ease-in-out;
  }

  &--submit:hover {
    background-color: seagreen;
  }

  &--description {
    border-radius: 1rem;
    min-height: 5rem;
  }

  &--content {
    border-radius: 1rem;
    min-height: 5rem;
  }
}

.label {
  font-size: 1.25rem;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 1rem;
  cursor: pointer;
  height: 10rem;
  width: 15rem;
}
