#theme {
  width: 3rem;
  height: 3rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #171D2A;
  position: fixed;
  top: 25%;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    #themeIcon {
      transform: scale(1.1);
    }
  }
}