@use "sass:color";

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  &--icon {
    width: 100%;
    max-width: 1.5rem;
    position: absolute;
    left: -2rem;
    bottom: 1rem;
  }
  &--section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &--wrapped {
    border-bottom: 1px solid black;
    &__title {
      text-align: center;
      font-size: 2rem;
    }
  }
  &--commentSection {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &--comment__form {
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    width: 100%;
    box-shadow: none;
    padding: 0;
    justify-content: flex-start;
    textarea {
      min-height: 3rem;
      min-width: 25rem;
      border-radius: 0.25rem;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    button {
      width: 100%;
      max-width: 5rem;
      height: 100%;
      min-height: 3rem;
      border-radius: 0.25rem;
      cursor: pointer;
      border: none;
      color: var(--white);
      background-color: var(--grey);
      transition: ease-in-out 0.1s;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      &:hover {
        background-color: var(--grey-hover);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}