.cart {
  display: flex;
  justify-content: space-evenly;
  &--main {
    width: 100%;
    margin-right: 25%;
    &__product {
      display: grid;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      padding: 2.5rem;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  &--aside {
    position: fixed;
    right: 0;
    height: 100%;
    width: 25%;
    background-color: #6c757d;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 5rem;
  }
}

.product {
  &--delete {
    width: 100%;
    max-width: 2rem;
    cursor: pointer;
    transition: all 0.25s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &--quantities {
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    &__amount {
      /* Remove arrows in Chrome, Safari, and Edge */
      -webkit-appearance: none;
      -moz-appearance: textfield;
      appearance: none;

      /* Remove the up/down arrows in Firefox */
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Optional: Style for better appearance */
      width: 100%;
      max-width: 2rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }
  &--picture {
    &__wrapper {
      width: 12.5rem;
      height: 12.5rem;
      overflow: hidden;
      justify-self: center;
      border-radius: 1rem;
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.specs {
  &--top {
    display: flex;
    justify-content: space-between;
  }
}