@use "sass:color";

.navbar {
  overflow: hidden;
  background-color: $navColor;
  display: flex;
  width: 100%;
  justify-content: space-between;
  &--divLeft {
    width: 100%;
    a {
      float: left;
      display: block;
      color: var(--white);
      text-align: center;
      padding: 0.875rem 1.25rem;
      text-decoration: none;
  
      &:hover {
        background-color: var(--grey);
        color: var(--black);
      }
    }
  }
  &--divRight {
    width: 100%;
    a {
      float: right;
      display: block;
      color: var(--white);
      text-align: center;
      padding: 0.875rem 1.25rem;
      text-decoration: none;
  
      &:hover {
        background-color: var(--grey);
        color: var(--black);
      }
    }
  }
}

.dropdown {
  float: left;
  overflow: hidden;

  .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: var(--white);
    padding: 0.875rem 1rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

    &:hover {
      background-color: var(--grey);
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--grey);
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      float: none;
      color: var(--black);
      padding: 0.75rem 1rem;
      text-decoration: none;
      display: block;
      text-align: left;

      &:hover {
        background-color: var(--grey);
      }
    }
  }

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}
