/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font.php size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font.php weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font.php sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font.php size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font.php styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font.php properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Mon Style
*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li a {
  color: inherit;
  text-decoration: none;
}

.mainBack {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-left: 15rem;
  padding: 1rem 3rem;
}

:root {
  --black: #000;
  --black-hover: black;
  --blue: #0d6efd;
  --blue-hover: #0143a3;
  --white: #fff;
  --white-hover: #cccccc;
  --grey: #6c757d;
  --grey-hover: #3d4246;
  --red: #dc3545;
  --red-hover: #921925;
  --green: #489e0a;
  --green-hover: #1c3e04;
  --black: #000;
  --black-transparent: rgba(0, 0, 0, 0.8);
  --blue: #0d6efd;
  --blue-transparent: rgba(13, 110, 253, 0.8);
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.8);
  --grey: #6c757d;
  --grey-transparent: rgba(108, 117, 125, 0.8);
  --red: #dc3545;
  --red-transparent: rgba(220, 53, 69, 0.8);
  --green: #489e0a;
  --green-transparent: rgba(72, 158, 10, 0.8);
  --black: #000;
  --black-light: #333333;
  --blue: #0d6efd;
  --blue-light: #72abfe;
  --white: #fff;
  --white-light: white;
  --grey: #6c757d;
  --grey-light: #a1a8ae;
  --red: #dc3545;
  --red-light: #eb8c95;
  --green: #489e0a;
  --green-light: #76f11d;
  --text-color: var(--black);
  --primary: var(--blue);
  --secondary: var(--grey);
  --danger: var(--red);
  --primary-hover: var(--blue-hover);
  --secondary-hover: var(--grey-hover);
  --danger-hover: var(--red-hover);
}

#editor {
  width: 100%;
  min-height: 10rem;
}

form {
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 50rem;
  min-width: 25rem;
  height: 100%;
  min-height: 25rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logout--form {
  height: fit-content;
  width: max-content;
  min-height: min-content;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}

.input {
  border-radius: 1rem;
  height: 2.5rem;
  min-height: max-content;
  width: 100%;
  max-width: 40rem;
  padding: 0.25rem 1rem;
  border: 3px solid transparent;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: 0.1s ease-in-out;
}
.input--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.input:focus {
  outline-width: 0;
  border: 3px solid black;
}
.input::placeholder {
  color: darkgrey;
}
.input--acceptTos {
  width: 1rem;
  height: 1rem;
}
.input--submit {
  width: 15rem;
  height: 3rem;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1rem;
  transition: 0.25s ease-in-out;
}
.input--submit:hover {
  background-color: seagreen;
}
.input--description {
  border-radius: 1rem;
  min-height: 5rem;
}
.input--content {
  border-radius: 1rem;
  min-height: 5rem;
}

.label {
  font-size: 1.25rem;
}

input[type=color] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 1rem;
  cursor: pointer;
  height: 10rem;
  width: 15rem;
}

.page--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.page--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.page--icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page--wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.page--wrapper ul {
  width: 100%;
}
.page--wrapper__separator {
  width: 80%;
  height: 1px;
  background-color: black;
}
.page--wrapper__close {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  width: 100%;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.page--wrapper__unit {
  width: 100%;
  max-width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 6fr 2fr 2fr;
  justify-content: center;
  text-align: center;
}
.page--wrapper__unit:not(:last-child) {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.page--wrapper__unit img.page--icon {
  justify-self: center;
  align-self: center;
}

.article--value {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  overflow: hidden;
  width: 90%;
}
.article--infos {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  justify-content: center;
  align-items: center;
}
.article--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.article--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.article--icon__trash {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.article--icon__update {
  position: absolute;
  bottom: 1rem;
  right: 0.8rem;
}
.article--content {
  width: 100%;
}
.article--content__value {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  width: 90%;
}
.article--wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.article--wrapper ul {
  width: 100%;
}
.article--wrapper__separator {
  width: 80%;
  height: 1px;
  background-color: var(--black);
}
.article--wrapper__close {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  width: 100%;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.article--wrapper__unit {
  width: 100%;
  max-width: 80%;
  gap: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.article--wrapper__unit:not(:last-child) {
  border-bottom: 1px solid var(--black);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.article--wrapper__unit img.article--icon {
  justify-self: center;
  align-self: center;
}

.user--edit--link {
  width: fit-content;
  margin: 0 auto;
}
.user--iconsWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.user--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.user--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.user--wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.user--wrapper ul {
  width: 100%;
}
.user--wrapper__close {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.user--wrapper__unit {
  width: 100%;
  max-width: 95%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .user--wrapper__unit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
.user--wrapper__unit:not(:last-child) {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.user--wrapper__unit img.user--icon {
  justify-self: center;
  align-self: center;
}

.navbar {
  color: #e0dcdc;
  background-color: #171D2A;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  padding: 1rem;
  width: 100%;
  max-width: 15rem;
  gap: 1.5rem;
}
.navbar--logo__link {
  text-align: center;
}
.navbar--logo__picture {
  width: 100%;
  max-width: 5rem;
  transform: rotatey(180deg);
  border: 0 solid black;
  border-radius: 1000rem;
  transition: padding 0.3s ease-in-out, border 0.1s ease-in-out 0.2s;
}
.navbar--logo__picture:hover {
  border: 1px solid black;
  border-radius: 1000rem;
  padding: 0.5rem;
}
.navbar--list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20% 0;
  justify-content: space-between;
  font-size: 1.2rem;
}
.navbar--list__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 1.5rem;
}
.navbar--list__link::before {
  position: absolute;
  left: 0.5rem;
  content: url("/assets/arrow-right.svg");
}

.comment--value {
  position: relative;
}
.comment--value__no {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -1.5rem;
  top: 53%;
  background-color: var(--red);
}
.comment--value__yes {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -1.5rem;
  top: 53%;
  background-color: var(--green);
}
.comment--value__globalno {
  width: 50%;
  height: 1rem;
  background-color: var(--red);
}
.comment--value__globalyes {
  width: 50%;
  height: 1rem;
  background-color: var(--green);
}
.comment--value__icon {
  position: absolute;
  top: 70%;
  right: 0;
}
.comment--wrapper__unit {
  position: relative;
}
.comment--infos {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 2fr 1fr 8fr 2fr 2fr;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid black;
}
.comment--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.comment--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.comment--icon__trash {
  position: absolute;
  bottom: 1rem;
  right: -2rem;
}
.comment--container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.comment--container__global {
  width: 100%;
  max-width: 1000px;
}
.comment--container__wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 8fr 2fr 2fr;
  gap: 1rem;
  border-bottom: 1px solid black;
  position: relative;
}

.dashboard {
  position: relative;
}
.dashboard--main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard--main__charts {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1000px;
}
.dashboard--chart__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.chart {
  height: 100%;
  flex: 1;
  min-height: 250px;
  flex-shrink: 0;
}
.chart--attribution {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.settings--section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.settings--section__current {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.settings--section__color {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.settings--section--currentColor {
  display: flex;
  width: 5rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
  border: 1px solid black;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.gallery--edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  text-align: center;
}
.gallery--picture__edit {
  width: 100%;
  max-width: 20rem;
}
.gallery--link {
  color: black;
}
.gallery--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.gallery--content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
}
.gallery--content__item {
  height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  text-align: center;
  gap: 1.5rem;
  position: relative;
}
.gallery--item__picture {
  max-width: 10rem;
  max-height: 10rem;
  margin: 0 auto;
}
.gallery--item__icons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.separator {
  position: absolute;
  background-color: black;
  height: 1px;
  width: 100rem;
  bottom: -3rem;
  left: -1rem;
}

/*# sourceMappingURL=back.css.map */
