/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font.php size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font.php weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font.php sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font.php size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font.php styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font.php properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Mon Style
*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li a {
  color: inherit;
  text-decoration: none;
}

.mainBack {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 0 15rem;
  padding: 1rem 3rem;
}

.light-theme {
  background-color: #f9f9f9 !important;
  color: var(--darkBackground) !important;
}

.dark-theme {
  background-color: var(--darkBackground) !important;
  color: #f9f9f9 !important;
}
.dark-theme .faq--dropdown__answer {
  color: #dad2d2 !important;
}
.dark-theme .faq--text {
  color: #dad2d2 !important;
}
.dark-theme .review {
  box-shadow: rgba(202, 195, 195, 0.81) 0 1px 4px !important;
  border-radius: 0.5rem !important;
}
.dark-theme .article-list__active {
  background-color: #171D2A !important;
  border: 2px solid white !important;
}
.dark-theme .reviews--nav {
  color: #c9bdbd;
}
.dark-theme .reviews--nav:hover {
  color: white;
}

:root {
  --black: #000;
  --black-hover: black;
  --blue: #0d6efd;
  --blue-hover: #024dbc;
  --white: #fff;
  --white-hover: #d9d9d9;
  --grey: #6c757d;
  --grey-hover: #494f54;
  --red: #dc3545;
  --red-hover: #a71d2a;
  --green: #489e0a;
  --green-hover: #275605;
  --purple: #4d386b;
  --purple-hover: #291e39;
  --darkBackground: #111621;
  --darkBackground-hover: black;
  --black: #000;
  --black-transparent: rgba(0, 0, 0, 0.8);
  --blue: #0d6efd;
  --blue-transparent: rgba(13, 110, 253, 0.8);
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.8);
  --grey: #6c757d;
  --grey-transparent: rgba(108, 117, 125, 0.8);
  --red: #dc3545;
  --red-transparent: rgba(220, 53, 69, 0.8);
  --green: #489e0a;
  --green-transparent: rgba(72, 158, 10, 0.8);
  --purple: #4d386b;
  --purple-transparent: rgba(77, 56, 107, 0.8);
  --darkBackground: #111621;
  --darkBackground-transparent: rgba(17, 22, 33, 0.8);
  --black: #000;
  --black-light: #333333;
  --blue: #0d6efd;
  --blue-light: #72abfe;
  --white: #fff;
  --white-light: white;
  --grey: #6c757d;
  --grey-light: #a1a8ae;
  --red: #dc3545;
  --red-light: #eb8c95;
  --green: #489e0a;
  --green-light: #76f11d;
  --purple: #4d386b;
  --purple-light: #7e5eab;
  --darkBackground: #111621;
  --darkBackground-light: #344364;
  --text-color: var(--black);
  --primary: var(--blue);
  --secondary: var(--purple);
  --danger: var(--red);
  --primary-hover: var(--blue-hover);
  --secondary-hover: var(--purple-hover);
  --danger-hover: var(--red-hover);
}

#editor {
  width: 100%;
  min-height: 10rem;
}

form {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 50rem;
  padding: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white;
}

form input, form select, form textarea, form button {
  width: 100%; /* Ensures inputs span full width of the form */
  max-width: 45rem; /* Prevents overly wide inputs */
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

form textarea {
  resize: vertical; /* Allow textarea to adjust vertically based on content */
  min-height: 8rem;
}

form button {
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #4cae4c;
}

.logout--form {
  height: auto;
  width: auto;
  min-height: auto;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout--form button {
  width: auto;
  padding: 0.5rem 1rem;
  background-color: #d9534f;
  border: none;
}

.logout--form button:hover {
  background-color: #c9302c;
}

.input {
  border-radius: 1rem;
  height: 2.5rem;
  min-height: max-content;
  width: 100%;
  max-width: 40rem;
  padding: 0.25rem 1rem;
  border: 3px solid transparent;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: 0.1s ease-in-out;
}
.input--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.input:focus {
  outline-width: 0;
  border: 3px solid black;
}
.input::placeholder {
  color: darkgrey;
}
.input--acceptTos {
  width: 1rem;
  height: 1rem;
}
.input--submit {
  width: 15rem;
  height: 3rem;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1rem;
  transition: 0.25s ease-in-out;
}
.input--submit:hover {
  background-color: seagreen;
}
.input--description {
  border-radius: 1rem;
  min-height: 5rem;
}
.input--content {
  border-radius: 1rem;
  min-height: 5rem;
}

.label {
  font-size: 1.25rem;
}

input[type=color] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 1rem;
  cursor: pointer;
  height: 10rem;
  width: 15rem;
}

.page--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.page--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.page--icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page--wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.page--wrapper ul {
  width: 100%;
}
.page--wrapper__separator {
  width: 80%;
  height: 1px;
  background-color: black;
}
.page--wrapper__close {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  width: 100%;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.page--wrapper__unit {
  width: 100%;
  max-width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 6fr 2fr 2fr;
  justify-content: center;
  text-align: center;
}
.page--wrapper__unit:not(:last-child) {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.page--wrapper__unit img.page--icon {
  justify-self: center;
  align-self: center;
}

.faq--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.faq--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.faq--icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq--wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.faq--wrapper ul {
  width: 100%;
}
.faq--wrapper__separator {
  width: 80%;
  height: 1px;
  background-color: black;
}
.faq--wrapper__close {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  width: 100%;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.faq--wrapper__unit {
  width: 100%;
  max-width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 8fr 8fr 1fr 1fr;
  justify-content: center;
  text-align: center;
}
.faq--wrapper__unit:not(:last-child) {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.faq--wrapper__unit img.faq--icon {
  justify-self: center;
  align-self: center;
}

.review--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.review--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.review--icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.review--wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.review--wrapper ul {
  width: 100%;
}
.review--wrapper__separator {
  width: 80%;
  height: 1px;
  background-color: black;
}
.review--wrapper__close {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  width: 100%;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.review--wrapper__unit {
  width: 100%;
  max-width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 2fr 8fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
}
.review--wrapper__unit:not(:last-child) {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.review--wrapper__unit img.review--icon {
  justify-self: center;
  align-self: center;
}

.article--tags__tag {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid var(--black);
}
.article--tags__list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.article--value {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  overflow: hidden;
  width: 90%;
}
.article--infos {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  justify-content: center;
  align-items: center;
}
.article--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.article--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.article--icon__trash {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.article--icon__update {
  position: absolute;
  bottom: 1rem;
  right: 0.8rem;
}
.article--content {
  width: 100%;
}
.article--content__value {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  width: 90%;
}
.article--wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.article--wrapper ul {
  width: 100%;
}
.article--wrapper__separator {
  width: 80%;
  height: 1px;
  background-color: var(--black);
}
.article--wrapper__close {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  width: 100%;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.article--wrapper__unit {
  width: 100%;
  max-width: 80%;
  gap: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.article--wrapper__unit:not(:last-child) {
  border-bottom: 1px solid var(--black);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.article--wrapper__unit img.article--icon {
  justify-self: center;
  align-self: center;
}

.tag--active {
  background-color: var(--black);
  color: white;
}

.user--edit--link {
  width: fit-content;
  margin: 0 auto;
}
.user--iconsWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.user--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.user--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.user--wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.user--wrapper ul {
  width: 100%;
}
.user--wrapper__close {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.user--wrapper__unit {
  width: 100%;
  max-width: 95%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .user--wrapper__unit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
.user--wrapper__unit:not(:last-child) {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.user--wrapper__unit img.user--icon {
  justify-self: center;
  align-self: center;
}

.product--background {
  width: 100%;
  border-radius: 0.5rem;
}
.product--value {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  overflow: hidden;
  width: 90%;
}
.product--infos {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 2fr 4fr;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1300px) {
  .product--infos {
    grid-template-columns: 1fr 1fr;
  }
}
.product--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.product--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.product--icon__trash {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.product--icon__update {
  position: absolute;
  bottom: 1rem;
  right: 0.8rem;
}
.product--content {
  width: 100%;
}
.product--content__value {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  width: 90%;
}
.product--wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.product--wrapper ul {
  width: 100%;
}
.product--wrapper__separator {
  width: 80%;
  height: 1px;
  background-color: var(--black);
}
.product--wrapper__close {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  width: 100%;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.product--wrapper__unit {
  width: 100%;
  max-width: 80%;
  gap: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product--wrapper__unit:not(:last-child) {
  border-bottom: 1px solid var(--black);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.product--wrapper__unit img.product--icon {
  justify-self: center;
  align-self: center;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar--list__link.backActive {
  font-weight: bold;
}
.navbar--list__link.backActive:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--secondary);
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(60, 42, 77, 0.8), 0 0 20px rgba(60, 42, 77, 0.6);
}

.navbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navbar {
  color: #c4c4c4;
  background-color: #171D2A;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  padding: 1rem 0 0 0;
  width: 100%;
  max-width: 15rem;
  border-right: 1px solid var(--secondary);
  overflow-y: auto;
}
.navbar--separator {
  width: 100%;
  min-height: 2px;
  background-color: var(--secondary);
  margin: 1rem 0;
}
.navbar--logo__link {
  text-align: center;
  margin-bottom: 2rem;
}
.navbar--logo__picture {
  width: 100%;
  max-width: 4rem;
  border-radius: 50%;
}
.navbar--list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 1.1rem;
}
.navbar--list__li {
  position: relative;
}
.navbar--list__links {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}
.navbar--list__link {
  text-align: center;
  line-height: 5rem;
  color: #c4c4c4;
  display: inline-block;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.navbar--list__link:hover {
  background-color: var(--secondary);
  color: #ffffff;
}
.navbar--list__link--active {
  background-color: var(--secondary);
  color: #ffffff;
}

.navbar--footer {
  position: sticky;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid var(--secondary);
  color: #c4c4c4;
  background-color: #1f1b2e;
}
.navbar--footer .footer--user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.navbar--footer .footer--user .footer--user__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navbar--footer .footer--user .footer--user__info {
  flex-grow: 1;
  margin-left: 1rem;
  font-size: 0.9rem;
  text-align: left;
}

.comment--value {
  position: relative;
}
.comment--value__no {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -1.5rem;
  top: 53%;
  background-color: var(--red);
}
.comment--value__yes {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -1.5rem;
  top: 53%;
  background-color: var(--green);
}
.comment--value__globalno {
  width: 50%;
  height: 1rem;
  background-color: var(--red);
}
.comment--value__globalyes {
  width: 50%;
  height: 1rem;
  background-color: var(--green);
}
.comment--value__icon {
  position: absolute;
  top: 70%;
  right: 0;
}
.comment--wrapper__unit {
  position: relative;
}
.comment--infos {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 2fr 1fr 8fr 2fr 2fr;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid var(--black);
}
.comment--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.comment--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}
.comment--icon__trash {
  position: absolute;
  bottom: 1rem;
  right: -2rem;
}
.comment--container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.comment--container__global {
  width: 100%;
  max-width: 1000px;
}
.comment--container__wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 8fr 2fr 2fr;
  gap: 1rem;
  border-bottom: 1px solid var(--black);
  position: relative;
}

.dashboard {
  position: relative;
}
.dashboard--main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard--main__charts {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1000px;
}
.dashboard--chart__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.chart {
  height: 100%;
  flex: 1;
  min-height: 250px;
  flex-shrink: 0;
}
.chart--attribution {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.settings--section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.settings--section__current {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.settings--section__color {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.settings--section--currentColor {
  display: flex;
  width: 5rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
  border: 1px solid black;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.gallery--icon {
  width: 100%;
  max-width: 2rem;
  min-width: 1.5rem;
}

.gallery--content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.gallery--content__item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery--content__item:hover {
  transform: translateY(-10px);
}

.gallery--item__picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery--item__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery--content__item:hover .gallery--item__info {
  opacity: 1;
  transform: translateY(0);
}

.gallery--item__icons {
  background-color: #ffffff;
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery--content__item:hover .gallery--item__icons {
  opacity: 1;
  transform: translateY(0);
}

.gallery--icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.form--gallery__filter {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-width: 200px;
}

.gallery--notFound {
  font-size: 1.5rem;
  color: gray;
}

/*# sourceMappingURL=back.css.map */
