.mainBack {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-left: 15rem;
  padding: 1rem 3rem;
}