.mainBack {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 0 15rem;
  padding: 1rem 3rem;
}

.light-theme {
  background-color: #f9f9f9 !important;
  color: var(--darkBackground) !important;
}

.dark-theme {
  background-color: var(--darkBackground) !important;
  color: #f9f9f9 !important;
  .faq--dropdown__answer {
    color: #dad2d2 !important;
  }
  .faq--text {
    color: #dad2d2 !important;
  }
  .review {
    box-shadow: rgb(202 195 195 / 81%) 0 1px 4px !important;
    border-radius: 0.5rem !important;
  }
  .article-list__active {
    background-color: #171D2A !important;
    border: 2px solid white !important;
  }
  .reviews--nav {
    color: #c9bdbd;
    &:hover {
      color: white;
    }
  }
}