.mainBack {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-left: 15rem;
  padding: 1rem 3rem;
}

.light-theme {
  background-color: #f9f9f9 !important;
  color: #111621;

}

.dark-theme {
  background-color: #111621 !important;
  color: #f9f9f9;
}